{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Verses plugin for Craft CMS 3.x
 *
 * Verses Settings.twig
 *
 * @author    Tipping Media LLC
 * @copyright Copyright (c) 2018 Tipping Media LLC
 * @link      https://tippingmedia.com
 * @package   Verses
 * @since     2.0.0
 */
#}

{% import "_includes/forms" as forms %}

{# {% do view.registerAssetBundle("tippingmedia\\verses\\assetbundles\\verses\\VersesAsset") %} #}

{# Available Bible Versions #}
{% set versionOptions = [
  { "value":"eng-NASB" , "label":"(NASB) New American Standard Bible", "default":true},
  { "value":"eng-NIV" , "label":"(NIV) New International Version" },
  { "value":"eng-KJV" , "label":"(KJV) King James Version" },
  { "value":"eng-NRSV" , "label":"(NRSV) New Revised Standard Version" },
  { "value":"eng-MSG" , "label":"(MSG) The Message" },
  { "value":"eng-ESV" , "label":"(ESV) English Standard Versions" },
] %}

<h2>Verses Plugin Settings</h2>
<p>
    <a href='http://bibles.org' target='_blank' alt='Bibles.org website'>Bibles.org</a> is providing the API and engine by which we can search the bible. This is free of charge so you must obtain your own token and follow their <a href='http://bibles.org/pages/legal/#terms-api' target='_blank' alt='Bibles.org API legal terms'>licensing agreements</a>. <a href='http://bibles.org/pages/api' target='_blank' alt='Optain an API token'>Get Token &raquo;</a>
    {# <br>For the (ESV) English Standard Version you must obtain a token from <a href="https://api.esv.org/">Crossway.</a> #}
</p>
<br><br>

{{ forms.textField({
  first:        true,
  label:        "Token"|t,
  instructions: "Bibles.org api token."|t,
  id:           'token',
  name:         'token',
  value:        settings.token is defined ? settings.token : '',
  autofocus:    true,
  errors:       settings.getErrors('token')
}) }}

{{ forms.selectField({
    label: "Bible Version"|t,
    instructions: "If no other version is selected this bible version will be used."|t,
    id: 'bibleVersion',
    name: 'bibleVersion',
    options: versionOptions,
    value: settings.bibleVersion,
    toggle: true,
    targetPrefix: 'bv-',
    errors: settings.getErrors('bibleVersion')
}) }}

<br><br><br>