.books,
.result {
    overflow-y: scroll;
    height: calc(100% - 48px);
}

.result {
    >div {
        padding: 1.5rem;
    }
}

.book {
    padding: 10px 15px;
    border-bottom: 1px solid #f1f1f1;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
    color: #333333;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2px;
    &:hover {
        background-color: RGBA(213, 216, 221, .5);
        >span {
            margin-right: 15px;
        }
        .book--chapters {
            display: inline;
        }
    }
}

.book--chapters {
    display: none;
}

.book--chapter {
    display: inline-block;
    padding: 1px 5px;
    text-align: center;
    line-height: 1.5;
    color: RGBA(144, 153, 164, 1);
    &:hover {
        background-color: RGBA(255, 255, 255, .9);
        color: #111111;
        border-radius: 2px;
    }
}

.noscroll {
    overflow: hidden !important;
}

.slide-fade-enter-active {
    transition: all .2s ease-out;
}

.slide-fade-leave-active {
    transition: all .2s ease-out;
}

.slide-fade-enter,
.slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */

{
    transform: translateX(11px);
    opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity .3s ease-out;
}

.fade-enter,
.fade-leave-to
/* .fade-leave-active below version 2.1.8 */

{
    opacity: 0;
}


/* Modal Overlay */

.v--modal-overlay {
    background: rgba(255, 255, 255, 0.75) !important;
}


/* Books & Chapters */

.bv-input-book {
    padding: 10px 15px;
    border-bottom: 1px solid #f1f1f1;
    font-size: 20px;
    font-weight: 100;
    line-height: 1.5;
    color: #333333;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2px;
}

.bv-input-book:hover {
    background-color: RGBA(213, 216, 221, .5);
}

.bv-input-book:hover>span {
    margin-right: 15px;
}

.bv-input-book:hover .book--chapters {
    display: inline;
}

.copyright {
    margin-top: 10px;
    font-size: 10px;
    line-height: 1.2;
    color: #aaaaaa;
}