/*
 * INPUT
 */

.bv_field {
    .field{
        margin-bottom: 0px;
    }
    .field > .input {
        display: inline-block;
        svg path{
            fill: RGBA(35, 44, 56, 1);
        }
    }
    .input + .bv_action--btn {
        vertical-align: top;
    }
    .bv_elements{
        padding-top: 8px;
        .element {
            position: relative;
            transition: all 0.3s ease-out;
            opacity: 1;
            top: 0px !important;
            left: 0px !important;
            cursor:pointer;
            border-bottom: 1px dotted transparent;
            &:hover{
                //border-bottom: 1px dotted #eeeeee;
                color: #428BCA;
            }
        }
        .element.remove{
            transition: all 0.3s ease;
            left: -80px !important;
            opacity: 0;
        }
        .element.el-anim{
            position: relative;
            opacity: 0;
            top: 0 !important;
            left: -80px !important;
        }
    }
}

.verses-reference-hud {
    -webkit-box-shadow: 0 0 15px rgba(0,0,0,.2);
    -ms-box-shadow: 0 0 15px rgba(0,0,0,.2);
    box-shadow: 0 0 15px rgba(0,0,0,.2);
    .main-container {
        padding-bottom: 5px;
        background-color:white;
    }
    .main {
        background-color: #ffffff;
        max-height: 375px;
        overflow-y: scroll;
    }
    .content-reference-hud {
        max-width: 275px;
        padding: 0px !important;
        color: #222222;
        .chapter,
        .p,
        .result,
        p[class*='q']{
          font-size: 14px;
          line-height: 1.6;
          font-weight: 100;
        }
        p[class*='q']{
          margin-left: 0px;
          line-height: 1.2;
          font-size: 14px;
        }
        .result > h3{
          margin-bottom: 0px;
        }
        .result{
          margin-bottom: 25px;
          cursor: pointer;
        }
        sup{
          padding-right: 3px;
          color: #aaaaaa;
        }
        span{
          cursor: pointer;
        }
        span.selected,
        span.active{
          border-bottom: 1px dotted #dddddd;
          background-color: #fef9e0;
        }
        em{
          font-style: normal;
          border-bottom: 1px dotted #dddddd;
          background-color: #fef9e0;
        }

        div.copyright{
          margin-top: 10px;
          font-size: 10px;
          line-height: 1.2;
          color: #aaaaaa;
        }
    }
}
