<template>
    <div class="input bv-input">
        <div class="flex">
            <div class="flex-grow texticon add icon clearable">
                <input class="text fullwidth" type="text" autocomplete="off" placeholder="Romans 10:9" v-model="reference" @keydown.13.exact="setVerse" >
                <div class="clear hidden" title="Clear"></div>
            </div>
            <div class="btn" role="button" tabindex="0" aria-checked="false" @click.prevent="show">
                <svg version="1.0" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="17px" height="17px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
                    <g>
                        <path fill="#231F20" d="M58.903,0.151L32,7.839L5.098,0.151C3.898-0.188,2.594,0.05,1.59,0.804C0.59,1.562,0,2.745,0,3.999V52
                        c0,1.785,1.184,3.355,2.902,3.848l28,8C31.262,63.949,31.629,64,32,64s0.738-0.051,1.098-0.152l28.001-8
                        c1.719-0.492,2.902-2.062,2.902-3.848V3.999c0-1.254-0.59-2.438-1.59-3.195C61.407,0.05,60.106-0.188,58.903,0.151z M8,9.304
                        l20,5.715v39.676L8,48.984V9.304z M56.001,48.984L36,54.695V15.019l20.001-5.715V48.984z"/>
                    </g>
                </svg>
            </div>
        </div>
        <div class="elements" v-if="verses.length > 0">
            <transition-group name="slide-fade">
                <div class="element removable" data-site-id="1" data-editable="0" tabindex="0" v-for="(v, index) in verses" :key="v.osis" :data-id="v.osis">
                    <input type="hidden" :name="`${name}[${index}][reference]`" :value="v.reference">
                    <input type="hidden" :name="`${name}[${index}][osis]`" :value="v.osis">
                    <a class="delete icon" title="Remove" @click.prevent="removeVerse"></a>
                    <div class="label"><span class="title">{{v.reference}}</span></div>
                </div>
            </transition-group>
        </div>
        <input type="hidden" :name="name" value="" v-if="verses.length == 0"/>
        <modal :name="`${id}-modal`"
         classes="modal elementselectormodal"
         width="70%"
         height="70%"
         adaptive
         @before-open="beforeOpen"
         @before-close="beforeClose">
            <div class="body">
                <div class="content">
                    <div class="main noscroll">
                        <div class="toolbar">
                            <div class="flex">
                                <div class="flex-grow texticon search icon clearable">
                                    <input class="text fullwidth" type="text" autocomplete="off" placeholder="Romans 10:9" v-model="query" @keydown.13.exact="search">
                                    <div class="clear hidden" title="Clear"></div>
                                </div>
                                <div>
                                    <div :class="booksBtnClassObj" role="button" tabindex="0" aria-checked="false" @click.prevent="view='books'">
                                        <svg version="1.0" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="17px" height="17px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
                                            <g>
                                                <path fill="#231F20" d="M58.903,0.151L32,7.839L5.098,0.151C3.898-0.188,2.594,0.05,1.59,0.804C0.59,1.562,0,2.745,0,3.999V52
                                                c0,1.785,1.184,3.355,2.902,3.848l28,8C31.262,63.949,31.629,64,32,64s0.738-0.051,1.098-0.152l28.001-8
                                                c1.719-0.492,2.902-2.062,2.902-3.848V3.999c0-1.254-0.59-2.438-1.59-3.195C61.407,0.05,60.106-0.188,58.903,0.151z M8,9.304
                                                l20,5.715v39.676L8,48.984V9.304z M56.001,48.984L36,54.695V15.019l20.001-5.715V48.984z"/>
                                            </g>
                                        </svg>
                                    </div>
                                    <div :class="resultsBtnClassObj" role="button" tabindex="0" aria-checked="false" @click.prevent="view='results'">
                                        <svg version="1.0" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                width="17px" height="17px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
                                            <g>
                                                <path fill="#231F20" d="M60,0H20c-2.211,0-4,1.789-4,4v20H4c-2.211,0-4,1.789-4,4v24c0,6.629,5.371,12,12,12h40
                                                    c6.625,0,12-5.375,12-12V4C64,1.789,62.211,0,60,0z M16,52c0,2.211-1.789,4-4,4s-4-1.789-4-4V32h8V52z M56,52c0,2.211-1.789,4-4,4
                                                    H24V8h32V52z"/>
                                                <path fill="#231F20" d="M36,24h8c2.211,0,4-1.789,4-4s-1.789-4-4-4h-8c-2.211,0-4,1.789-4,4S33.789,24,36,24z"/>
                                                <path fill="#231F20" d="M36,40h8c2.211,0,4-1.789,4-4s-1.789-4-4-4h-8c-2.211,0-4,1.789-4,4S33.789,40,36,40z"/>
                                            </g>
                                        </svg>
                                    </div>
                                </div>
                                <div class="spinner" v-if="loading"></div>
                            </div>
                        </div>
                        <div class="books" v-if="view=='books'">
                            <div class='book' v-for="(bk, index) in books" :data-book-id="`${version}:${bk.titles[1]}`.replace(/\s/g,'')" :book-ord='index' :key="bk.titles[0]"><span class='book--name'>{{ bk.titles[0] }}</span>
                                <div class='book--chapters'>
                                    <span class='book--chapter' v-for="n in bk.chapters" :key="`${bk.titles[0]}:${n}`" :data-chapter-query="`${bk.titles[1]}.${n}`.replace(/\s/g,'')" @click="getChapter">{{ n }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="result" v-if="view=='results'">
                            <div v-html="body"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="buttons right">
                    <div class="btn submit" tabindex="0" @click="hide">Done</div>
                    <div class="btn" tabindex="0" @click="hide">Cancel</div>
                </div>
            </div>
        </modal>
    </div>
</template>
<script>
    import { _debounce } from "lodash";
    var bcv_parser = require("bible-passage-reference-parser/js/en_bcv_parser").bcv_parser;
    import Readable from './Readable';
    export default {
        props:['values','name','id','version','books'],
        data() {
            return {
                query: null,
                reference: null,
                bcv: new bcv_parser(),
                readable: new Readable(),
                loading: false,
                view: 'books', // books|results
                body: '',
                verses: this.values
            }
        },
        computed: {
            resultsBtnClassObj() {
                return this.view === 'results' || this.body === '' ? 'btn disabled' : 'btn';
            },
            booksBtnClassObj() {
                return this.view === 'books' ? 'btn disabled' : 'btn';
            }
        },
        methods: {
            setVerse(evt) {
                evt.preventDefault();

                let parsed = this.bcv.parse(this.reference);

                if(!this.validatePassage(parsed)) {
                    return;
                }

                this.verses.push({
                    reference: this.readable.osis_to_readable('long', parsed.osis()),
                    osis: parsed.osis()
                });

                this.reference = '';
            },
            validatePassage(parsed) {
                let success = true;
                if (parsed.entities.length > 0) {
                    parsed.entities.forEach(ent => {
                        ent.passages.forEach(pas => {
                            if(!pas.valid.valid) {
                                success = false;
                            }
                        });
                    });
                }
                return success;
            },
            removeVerse(evt) {
                let id = evt.target.parentNode.dataset.id;
                let idx = this.verses.findIndex(item => {
                    return item.osis === id;
                });
                if(idx !== -1) {
                    this.verses.splice(idx, 1);
                }
            },
            getChapter(evt) {
                let _this = this;
                let chpElm = evt.target;
                let parsed = this.bcv.parse(chpElm.dataset.chapterQuery);

                if(!this.validatePassage(parsed)) {
                    return;
                }

                this.query = this.readable.osis_to_readable('long', parsed.osis());
                _this.loading = true;
                
                Craft.postActionRequest('verses/verses/get-passages', 
                    {
                        'apiType': 'chapters',
                        'passage': this.query,
                        'osis': parsed.osis(),
                        'endpoint':'chapters',
                        'version': _this.version,
                        'marginalia': false
                    }, 
                    function(response) {        
    
                        if(response.statusCode === 200) {
                            _this.loading = false;
                            // ESV api vs Bible.org
                            if(_this.version === 'eng-ESV') {
                                _this.body = response.body.passages[0];
                            } else {
                                let copyright = `<p class="copyright">${response.body.response.chapters[0].copyright}</p>`
                                _this.body = `${response.body.response.chapters[0].text} ${copyright}`;
                            }
                            
                            _this.view = 'results';
                        }
                    
                        // output fums scripts
                        //$this.fums(data.response.meta.fums_js_include);
                    }
                );
            },
            search(evt) {
                evt.preventDefault();

                 let _this = this;
                this.loading = true;
                let parsed = this.bcv.parse(this.query);

                Craft.postActionRequest('verses/verses/get-passages', 
                    {
                        'apiType': 'chapters',
                        'passage': this.query,
                        'osis': parsed.osis(),
                        'endpoint':'chapters',
                        'version': _this.version,
                        'marginalia': false
                    }, 
                    function(response) {        
    
                        if(response.statusCode === 200) {
                            _this.loading = false;
                            _this.body = response.body.passages[0];
                            _this.view = 'results';
                        }
                    
                        // output fums scripts
                        //$this.fums(data.response.meta.fums_js_include);
                    }
                );
            },
            beforeOpen(evt) {

            },
            beforeClose(evt) {
            },
            show() {
                this.$modal.show(`${this.id}-modal`);
            },
            hide(evt) {
                this.$modal.hide(`${this.id}-modal`);
                this.view = "books";
                let readable = new Readable();

                if(evt.target.classList.contains('submit')) {
                    let parsed = this.bcv.parse(this.query);
                    if(!this.validatePassage(parsed)) {
                        return;
                    }

                    this.verses.push({
                        reference: readable.osis_to_readable('long', parsed.osis()),
                        osis: parsed.osis()
                    });
                }

                this.query = '';
            }
        }
    }
</script>