{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Verses plugin for Craft CMS 3.x
 *
 * BibleVerses Field Input
 *
 * @author    Tipping Media LLC
 * @copyright Copyright (c) 2018 Tipping Media LLC
 * @link      https://tippingmedia.com
 * @package   Verses
 * @since     2.0.0
 */
#}

{% import "_includes/forms" as forms %}
{% set bc = craft.verses.books() %}
<div class="field bv-field">
    {% set values = value is empty ? '[]' : value|json_encode %}
    <verses :values="{{values}}" name="{{name}}" :id="'{{id}}'" :version="'{{version}}'" :books="{{bc|json_encode}}"> </verses>
</div>